* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------  1-Carousel ---------- */
.cont-carousel{
    width: 600px;
    border: 5px solid green ;
    overflow: hidden;
}
.carousel{
    display: flex;
    animation: carouselAnim 20s infinite alternate;
}
img{
    width: 590px;  
}
@keyframes carouselAnim{
    0%{margin-left:0% }
    10%{margin-left:0% }

    20%{margin-left:-100% }
    30%{margin-left:-100% }

    50%{margin-left:-200% }
    60%{margin-left:-200% }

    80%{margin-left:-300% }
    90%{margin-left:-300% }

    100%{margin-left:0% }
}